* {
  box-sizing: border-box;
}
body {
  background: radial-gradient(blue, #0C1469) no-repeat fixed 100%;
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 100%;
}
header {
  color: #fff;
  margin: 0;
}
.logo h3 {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 5px;
  width: 300px;
  letter-spacing: 1.5em;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0 0 15px 15px;
  display: inline-block;
}
nav ul {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0;
  overflow: hidden;
  float: right;
  width: 20px;
  position: fixed;
  top: 25px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px 0 0 5px;
}
nav ul li a {
  display: block;
  padding-top: 30px;
  padding-right: 10px;
  padding-left: 2px;
  padding-bottom: 5px;
  font-size: 20px;
}
.greetings {
  width: 300px;
  margin: 20vh auto 20px;
}
.greetings-text h1 {
  font-size: 2em;
}
picture img {
  height: 200px;
  width: auto;
  border: 2px double blueviolet;
  border-radius: 100%;
}
.contact-icons {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
.greetings-text {
  background-image: linear-gradient(to bottom right, #eee 40%, #ff0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1em;
}
.contact-icons a {
  text-decoration: none;
  color: black;
  border-radius: 100%;
  border: 1px solid black;
  padding: 5px;
}
button {
  border: 2px solid white;
  border-radius: 50% 10%/ 50% 10%;
  padding: 12px 16px;
  font-size: 1em;
  background-color: transparent;
  color: white;
  transition: 0.5s ease-in-out;
}
button:hover {
  background-color: blue;
  color: #fff;
  border-radius: 10% 50%/ 10% 50%;

}
main {
  margin: 10px;
  margin-top: 20px
}
#about {
  background-color: #0C1469;
  border-radius: 20px;
  padding: 5px;
  color: #fff;
  line-height: 1.5em;
  margin-top: 20px;
  display: none;
}